:root {
    --mainGreen: #008000;
    --mainBlack: #000;
}

.nav-bar-container {
    position: absolute;
    display: flex;
    width: 100%;
    height: 5%;
    list-style-type: none;
    color: var(--mainGreen);
    font-size: 1.5rem;
}

/* nav links */
.nav-link {
    color: gray;
    font-size: 1.5rem;
    transition: all 0.5s ease-in-out;
}
.nav-link:hover {
    color: var(--mainGreen);
}

/* Dropdown menu code */
.dropdown {
    padding: 10px;
    position: relative;
}

.dropdown-content {
    display: flex;
    background-color: #f1f1f1;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 150px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
