{
    "root": true,
    "env": {
        "browser": true,
        "es2021": true
    },
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended",
        "airbnb"
    ],
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        },
        "ecmaVersion": 12,
        "sourceType": "module",
        "project": "./tsconfig.json"
    },
    "settings": {
        "import/resolver": {
            "node": {
                "extensions": [".js", ".jsx", ".ts", ".tsx"]
            }
        }
    },
    "plugins": ["@typescript-eslint"],
    "ignorePatterns": ["dist/**", "test/**"],
    "rules": {
        "import/extensions": "off",
        "no-unused-vars": "off",
        "no-empty-function": "off",
        "no-useless-constructor": "off",
        "no-plusplus": "off",
        "no-console": 1,
        "no-shadow": "off",
        "class-methods-use-this": "off",
        "no-restricted-syntax": "off",
        "import/no-unresolved": 1,
        "func-names": "off",
        "indent": "off", //prettier is handling this
        "comma-dangle": "off",
        "operator-linebreak": "off" // prettier causing these
    }
}
